.home__user_score{
    display: flex;
    padding: 20px 30px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.home__user_score span{
    display: block;
}

.home__user_score h4{
    font-size: 2.3rem;
}

.home__user_score span:nth-child(2){
    font-size: 2.2rem;
    font-weight: 600;
    color: #545903;
}

.home__user_score-divider{
    height: 0.2rem;
    width: 4rem;
    background-color: var(--background-color-main);
}

.home__user_score span:nth-child(4){
    color: #4B4B4B;
    font-weight: 600;
    font-size: 1.6rem;
}

.home__user_score span:nth-child(5){
    color: var(--background-color-main);
    font-weight: 600;
    font-size: 1.6rem;
}

.home__user_score a{
    width: 100%;
    padding: 12px;
    text-decoration: none;
    margin-top: .5rem;
    border-radius: 10px;        
    text-align: center;
    font-weight: 700;    
    color: #fff;    
    background-color: #545903;
}

.home__user_score .message_not_score{
    text-align: center;
    font-weight: 500 !important;
    color: #000 !important;
    font-size: 1.5rem !important;
}

.loader_skeleton__user_score{
    width: 100%;
}

.loader_skeleton__user_score span{
    display: block;
    border-radius: 0.5rem;
    width: 100%;
    height: 2rem;
    background-color: #a5a5a5;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}