<div class="edit_profile">
    <div class="edit_profile__header">
        <h2>{{'Editar perfil de usuario' | uppercase}}</h2>
        <img src="/assets/icons/user-image.jpg" alt="user icon">
    </div>

    <div class="edit_profile__body">
        <h3>Datos</h3>
        <form 
            (ngSubmit)="onSubmitDataUser()"
            [formGroup]="formUserData" 
            class="body__form_user_data"
        >
            <div class="nombres">                
                <span>Nombres</span>                
                <input 
                    [class.error]="isControlInvalid('nombres')"
                    formControlName="nombres"                    
                    type="text"
                >
            </div>
            <div class="apellidos">
                <span>Apellidos</span>
                <input 
                    [class.error]="isControlInvalid('apellidos')"
                    formControlName="apellidos"                    
                    type="text"
                >
            </div>
            <div class="email">
                <div>
                    <span>Correo</span>
                    <i (click)="showAlertInfoEmail()" class="fa-solid fa-circle-info"></i>
                </div>
                <input 
                    [class.error]="isControlInvalid('email')"
                    formControlName="email"                    
                    type="email"
                >
            </div> 
            <button>Actualizar Datos</button>
        </form>        

        <h3>Contraseña</h3>
        <form class="body__form_passwords">
            <div class="password_actual">
                <span>Contraseña Actual</span>
                <div class="password_container">
                    <input [type]="showPasswordCurrent() ?  'text' : 'password'">
                    <i 
                        (click)="showPasswordCurrent.set(!showPasswordCurrent())" 
                        class="fa-solid"
                        [class.fa-eye]="!showPasswordCurrent()"
                        [class.fa-eye-slash]="showPasswordCurrent()"
                        >
                    </i>
                </div>
            </div>
            <div class="password_nueva">
                <span>Nueva Contraseña</span>
                <div class="password_container">
                    <input [type]="showNewPassword() ?  'text' : 'password'">
                    <i 
                        (click)="showNewPassword.set(!showNewPassword())" 
                        class="fa-solid"
                        [class.fa-eye]="!showNewPassword()"
                        [class.fa-eye-slash]="showNewPassword()"
                        >
                    </i>
                </div>
            </div>
            <div class="password_nueva_repetir">
                <span>Confirmar Contraseña</span>
                <div class="password_container">
                    <input [type]="showNewPasswordConfirm() ?  'text' : 'password'">
                    <i 
                        (click)="showNewPasswordConfirm.set(!showNewPasswordConfirm())"
                        class="fa-solid"
                        [class.fa-eye]="!showNewPasswordConfirm()"
                        [class.fa-eye-slash]="showNewPasswordConfirm()"
                        >
                    </i>
                </div>
            </div>
            <button>Actualizar Contraseña</button>
        </form>
    </div>
</div>


@if(!authService.user()){
    <loader/>
}
