<div class="home__main_data">
  <div class="home__main_data-presentation">
    <h1>¡Bienvenido(a) a <span>EyeAlert!</span></h1>
    <p>
      Evalúa tu salud ocular y mejora tu conocimiento sobre el glaucoma con
      datos informativos y jugando
    </p>
  </div>

  <div class="home__main_data-lastest-evaluations">
    <div class="lastest-evaluations-header">
      <h2>Últimas 4 Evaluaciones</h2>
      <button>
        <i class="fa-solid fa-eye"></i>
        Ver Todas
      </button>
    </div>

    <div class="lastest-evaluations-body">
      <div class="card-evaluation high-risk">
        <span>25 May 2025</span>
        <p>Riesgo Bajo</p>
      </div>

      <div class="card-evaluation low-risk">
        <span>25 May 2025</span>
        <p>Riesgo Alto</p>
      </div>

      <div class="card-evaluation high-risk">
        <span>25 May 2025</span>
        <p>Riesgo Bajo</p>
      </div>

      <div class="card-evaluation low-risk">
        <span>25 May 2025</span>
        <p>Riesgo Alto</p>
      </div>
    </div>
  </div>

  <div class="home__main_data-informative-data">
    <div class="informative-data-header">
      <h2>Datos Informativos</h2>
      <button>
        <i class="fa-solid fa-eye"></i>
        Ver Todas
      </button>
    </div>

    <div class="informative-data-body">
      <div class="card-informative-data">
        <p>
          {{
            "Las personas mayores de 60 años corren mayor riesgo de tener glaucoma debido a que este un factor"
              | slice : 0 : 69
          }}...
        </p>
        <i class="fa-solid fa-lightbulb fa-rotate-180"></i>
      </div>

      <div class="card-informative-data">
        <p>
          {{
            "Las personas mayores de 60 años corren mayor riesgo de tener glaucoma debido a que este un factor"
              | slice : 0 : 69
          }}...
        </p>
        <i class="fa-solid fa-lightbulb fa-rotate-180"></i>
      </div>

      <div class="card-informative-data">
        <p>
          {{
            "Las personas mayores de 60 años corren mayor riesgo de tener glaucoma debido a que este un factor"
              | slice : 0 : 69
          }}...
        </p>
        <i class="fa-solid fa-lightbulb fa-rotate-180"></i>
      </div>

      <div class="card-informative-data">
        <p>
          {{
            "Las personas mayores de 60 años corren mayor riesgo de tener glaucoma debido a que este un factor"
              | slice : 0 : 69
          }}...
        </p>
        <i class="fa-solid fa-lightbulb fa-rotate-180"></i>
      </div>

      <div class="card-informative-data">
        <p>
          {{
            "Las personas mayores de 60 años corren mayor riesgo de tener glaucoma debido a que este un factor"
              | slice : 0 : 69
          }}...
        </p>
        <i class="fa-solid fa-lightbulb fa-rotate-180"></i>
      </div>

      <div class="card-informative-data">
        <p>
          {{
            "Las personas mayores de 60 años corren mayor riesgo de tener glaucoma debido a que este un factor"
              | slice : 0 : 69
          }}...
        </p>
        <i class="fa-solid fa-lightbulb fa-rotate-180"></i>
      </div>

      <div class="card-informative-data">
        <p>
          {{
            "Las personas mayores de 60 años corren mayor riesgo de tener glaucoma debido a que este un factor"
              | slice : 0 : 69
          }}...
        </p>
        <i class="fa-solid fa-lightbulb fa-rotate-180"></i>
      </div>

      <div class="card-informative-data">
        <p>
          {{
            "Las personas mayores de 60 años corren mayor riesgo de tener glaucoma debido a que este un factor"
              | slice : 0 : 69
          }}...
        </p>
        <i class="fa-solid fa-lightbulb fa-rotate-180"></i>
      </div>

      <div class="card-informative-data">
        <p>
          {{
            "Las personas mayores de 60 años corren mayor riesgo de tener glaucoma debido a que este un factor"
              | slice : 0 : 69
          }}...
        </p>
        <i class="fa-solid fa-lightbulb fa-rotate-180"></i>
      </div>
    </div>
  </div>
</div>
