<div 
  [class.show-sidebar]="sideBarService.isSideBarVisible()"
  class="sidebar"
>
  <div
    routerLink="home"
    class="sidebar__logo">
    <img src="assets/icons/logo.svg" alt="logo" />
  </div>

  <ul class="sidebar__options">
    <li
      routerLink="home"
      routerLinkActive="sidebar__option--active"
      class="sidebar__option"
      (click)="sideBarService.close()"
    >
      <i class="fa-solid fa-house"></i>
      <span>Inicio</span>
    </li>

    <li
      routerLink="evaluations"
      routerLinkActive="sidebar__option--active"
      class="sidebar__option"
      (click)="sideBarService.close()"
    >
      <i class="fa-solid fa-clock-rotate-left"></i>
      <span>Evaluaciones</span>
    </li>

    <li
      routerLink="informative-data"
      routerLinkActive="sidebar__option--active"
      class="sidebar__option"
      (click)="sideBarService.close()"
    >
      <i class="fa-solid fa-lightbulb fa-rotate-180"></i>
      <span>Datos informativos</span>
    </li>

    <li
      routerLink="quiz"
      routerLinkActive="sidebar__option--active"
      class="sidebar__option"
      (click)="sideBarService.close()"
    >
      <i class="fa-solid fa-gamepad"></i>
      <span>¡Aprende jugando!</span>
    </li>

    <li
      routerLink="statistics"
      routerLinkActive="sidebar__option--active"
      class="sidebar__option"
      (click)="sideBarService.close()"
    >
      <i class="fa-solid fa-chart-simple"></i>
      <span>Estadísticas</span>
    </li>
  </ul>

  <div (click)="authService.logout()" class="sidebar__logout">
    <i class="fa-solid fa-door-open"></i>
    <span>{{ 'Salir' | uppercase }} </span>    
  </div>
</div>
