<div class="auth">
    <div class="auth__logo">
        <img src="assets/icons/logo-auth.svg" alt="logo auth" />
        <h1>EyeAlert</h1>
        <div class="lines">
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="auth__data">
        @if (!emailSent()) {
            <div class="auth__data-header">
                <h2>{{ "Recuperar contraseña" | uppercase }}</h2>
                <p>Por favor ingresa el correo electrónico asociado a tu cuenta, te enviaremos un enlace para que restablescas tu contraseña.</p>
            </div>

            <form
                [formGroup]="formRecoverPassword"
                (ngSubmit)="onSubmit()"
                class="auth__data-form"
            >
                <div class="email">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" placeholder="Correo electrónico" formControlName="email"/>
                </div>
                @if(email?.errors?.['email'] && email?.touched){
                    <p class="email_error">El email no es válido</p>
                }    

                <button class="btn-send-link" type="submit">
                    <i class="fa-solid fa-plus"></i>
                    {{ "Continuar" | uppercase }}
                </button>

                <span>ó</span>

                <button routerLink="/auth/login" class="btn-go-login" type="button">
                    {{ "Ir a iniciar sesión" | uppercase }}
                </button>
            </form>
        }@else {
            <div class="auth__data-message">
                <h2>{{ "Recuperar contraseña" | uppercase }}</h2>
                <p>Hemos enviado un enlace para que restablescas tu contraseña a tu correo, si no aparece en la bandeja principal revise en la sección de spam.</p>
                <i class="fa-solid fa-envelope-circle-check"></i>
            </div>
        }
        

        <div class="lines">
            <div></div>
            <div></div>
        </div>
  </div>
</div>

@if (isLoading()) {
    <loader/>
}