.auth__data-message{
    display: grid;
    grid-template-rows: repeat(1fr, 3);
    gap: 1rem;
    max-width: 35rem;
}

.auth__data-message i{
    color: rgb(61, 126, 61);
    margin: auto;
    font-size: 6rem;
}