.card-evaluation{
    padding: 2rem;
    min-width: 27rem;
    cursor: pointer;
}

.card-evaluation span{
    font-size: 1.6rem;
    color: #363636;
}

.card-evaluation p{
    margin: 12px 0 8px;
    font-weight: bold;
    font-size: 2.7rem;
}

.high-risk{
    border-left: 10px solid #CC3724;
    background-color: #FFE4E0;
}

.high-risk p{
    color: #CC3724;
}

.low-risk p{
    color: #0C6D40;    
}

.low-risk{
    border-left: 10px solid #0C6D40;    
    background-color: #D7FFEC;    
}


@media (max-width: 480px) {
    .card-evaluation{
        padding: 1.5rem;
        min-width: max-content;
    }
    
    .card-evaluation p{
        font-size: 2rem;
    }
}
