<div class="home__user_ranking">
  <h4 class="home__user_ranking-title">Ranking</h4>
  <div class="home__user_ranking-list">
    <ul>
      <li><span>1</span> Miguel Vega <span>15</span></li>
      <li><span>2</span> Anthony Dominguez <span>13</span></li>
      <li><span>3</span> Larri León <span>11</span></li>
      <li><span>4</span> Brayan Neciosup <span>11</span></li>
      <li><span>5</span> Alonso Plasencia <span>6</span></li>
    </ul>
  </div>
  <div class="home__user_ranking-my-position">
    <span>1</span> Miguel Vega <span>(Mi puesto)</span>
  </div>
</div>
