<div class="home">
  @if (authServices.user()) {    
    <card-user-profile [user]="authServices.user()" class="card-user-profile"/>
  }@else {
    <div class="home__user_profile">
      <div class="loader_skeleton__user_profile">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  }

  <card-user-score 
    [scoreUser]="scoreDataResource"
    [user]="authServices.user()" 
    class="card-user-score"/>

  <card-user-ranking
    [ranking]="rankingResource"
    class="card-user-ranking"
  />

  <main-data 
    [lastestEvaluations]="lastEvaluationsResource" 
    [informativeDataRandom]="informativeDataRandomResource"
    class="main-data"
  />


</div>
