

.auth__data-form .password{
    margin-top: 10px;
}

.auth__data-form .btn-login i{
    color: #fff;
    font-size: 14px;
}

.login__recover_password{
    margin: 0;
    bottom: 20px;
    right: 30px;
    position: absolute;
    font-size: 14px;
    cursor: pointer;
    color: #000;
}

.login__recover_password:hover{
    text-decoration: underline;
}

/* reponsive celulares */
@media (max-width: 480px) {
    .login__recover_password{
        display: inline;
        position: relative;
        right: 0;
        bottom: 0;
        margin: 2rem 4rem;
        text-align: center;
    }
}