<div class="home__main_data">
  <div class="home__main_data-presentation">
    <h1>¡Bienvenido(a) a <span>EyeAlert!</span></h1>
    <p>
      Evalúa tu salud ocular y mejora tu conocimiento sobre el glaucoma con
      datos informativos y jugando
    </p>
  </div>

  <div class="home__main_data-lastest-evaluations">
    <div class="lastest-evaluations-header">
      <h2>Últimas 4 Evaluaciones</h2>
      <button>
        <i class="fa-solid fa-eye"></i>
        Ver Todas
      </button>
    </div>

    <div class="lastest-evaluations-body">      
      @if (lastestEvaluations().hasValue()) {
        @for (evaluation of lastestEvaluations().value()?.data?.evaluaciones; track $index) {          
          <card-evaluation [evaluation]="evaluation"/>          
        }
      }@else {
          <div class="loader_skeleton__card_evaluation">            
          </div>
          <div class="loader_skeleton__card_evaluation">            
          </div>
          <div class="loader_skeleton__card_evaluation">            
          </div>
          <div class="loader_skeleton__card_evaluation">            
          </div>
      }
    </div>    
    <button class="lastest-evaluations-button">
      <i class="fa-solid fa-plus-minus"></i>
      {{'nueva evaluación' | uppercase }}
    </button>    
  </div>

  <div class="home__main_data-informative-data">
    <div class="informative-data-header">
      <h2>Datos Informativos</h2>
      <button>
        <i class="fa-solid fa-eye"></i>
        Ver Todas
      </button>
    </div>

    <div class="informative-data-body">
      @if(informativeDataRandom().hasValue()){
        @for (informativeData of informativeDataRandom().value()?.data; track $index) {
          <div class="card-informative-data animate">
            <p>
              {{
                informativeData.descripcion
                  | slice : 0 : 69
              }}...
            </p>
            <i class="fa-solid fa-lightbulb fa-rotate-180"></i>
          </div>
        }    
      }@else {
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
      }
    </div>
  </div>
</div>
