<div class="home__main_data">
  <div class="home__main_data-presentation">
    <h1>¡Bienvenido(a) a <span>EyeAlert!</span></h1>
    <p>
      Evalúa tu salud ocular y mejora tu conocimiento sobre el glaucoma con
      datos informativos y jugando
    </p>
  </div>

  <div class="home__main_data-lastest-evaluations">
    <div class="lastest-evaluations-header">
      <h2>Últimas 4 Evaluaciones</h2>
      <a routerLink="/evaluations">
        <i class="fa-solid fa-eye"></i>
        Ver Todas
      </a>
    </div>

    <div class="lastest-evaluations-body">      
      @if (lastestEvaluations().hasValue()) {
        @if(!lastestEvaluations().value()?.data){
          <p class="body__message_not_evaluations">Aún no tiene evaluaciones, para realiazar una presione en el botón de abajo</p>
        }@else {
          @for (evaluation of lastestEvaluations().value()?.data?.evaluaciones; track $index) {          
            <card-evaluation [evaluation]="evaluation"/>          
          }
        }
      }@else {
          <div class="loader_skeleton__card_evaluation">            
          </div>
          <div class="loader_skeleton__card_evaluation">            
          </div>
          <div class="loader_skeleton__card_evaluation">            
          </div>
          <div class="loader_skeleton__card_evaluation">            
          </div>
      }
    </div>    
    <a 
      routerLink="/evaluations/new-evaluation"
      class="new-evaluations-button"
    >
      <i class="fa-solid fa-plus-minus"></i>
      {{'nueva evaluación' | uppercase }}
    </a>    
  </div>

  <div class="home__main_data-informative-data">
    <div class="informative-data-header">
      <h2>Datos Informativos</h2>
      <a routerLink="/informative-data">
        <i class="fa-solid fa-eye"></i>
        Ver Todas
      </a>
    </div>

    <div class="informative-data-body">
      @if(informativeDataRandom().hasValue()){
        @for (informativeData of informativeDataRandom().value()?.data; track $index) {
          <card-informative-data [informativeData]="informativeData"/>          
        }    
      }@else {
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
        <div class="loader_skeleton__card_informative_data"></div>
      }
    </div>
  </div>
</div>
