:root{
  --background-color-main: #0C4D96;
  --background-color-secondary: #D5DCFF;
}

body, html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

button{
  border: none;
}

h1, h2, h3, h4{
  margin: 0;
}

*{
    box-sizing: border-box;
}