:root{
  --background-color-main: #0C4D96;
  --background-color-secondary: #D5DCFF;
  --background-color-skeleton: #A5A5A5;
}

html{
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

*{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
        
}

button{
  border: none;
}

body{
  font-size: 1.6rem;
  /* overflow: hidden; */
}

.no-scroll{
  overflow: hidden;
}

.swal2-icon{
  width: 8rem;
  height: 8rem;
  margin: 4rem, auto 0.96rem
}


.swal2-title{  
  padding: 2.4rem, 3rem, 0
}

.swal2-html-container{
  /* font-size: 1.8rem; */
  padding: 1.8rem, 2.88rem, .54rem
}

.swal2-modal{
  font-size: 1.6rem;
  width: 51.2rem;
  padding: 0 0 2.5rem;
}

.animate{
  animation: fadeInUp 100ms ease-in-out;
}

@keyframes fadeInUp {
    0%{
        opacity: 0;
    }    
    100%{
        opacity: 1;
    }
}

.new-evaluations-button{
    text-decoration: none;
    width: max-content;
    gap: 1rem;
    align-items: center;
    background-color: var(--background-color-main);
    padding: 1.2rem 10rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}
