.auth__data{
    padding: 8rem 10rem;
}

.auth__data-form .email,
.auth__data-form .password,
.auth__data-form .name,
.auth__data-form .lastName{
    border-bottom: 2px solid var(--background-color-main);
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 5px;
}

.auth__data-form .name,
.auth__data-form .lastName{
    padding: 0;
}

.auth__data-form .password,
.auth__data-form .email,
.auth__data-form .lastName{
    margin-top: 10px;
}


@media (max-width: 480px) {    
    .auth__data{
        padding: 7rem 4rem 4rem;
        gap: 3.5rem;
    }
}