<div class="auth">
    <div class="auth__logo">
        <img src="assets/icons/logo-auth.svg" alt="logo auth" />
        <h1>EyeAlert</h1>
        <div class="lines">
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="auth__data">
        @if (!isPasswordChanged()) {
            <div class="auth__data-header">
                <h2>{{ "Recuperar contraseña" | uppercase }}</h2>
                <p>Por favor ingresa tu nueva contraseña.</p>
            </div>

            <form
                [formGroup]="formPassword"
                (ngSubmit)="onSubmit()"
                class="auth__data-form"
            >
                <div class="password">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="Nueva contraseña" formControlName="password"/>
                </div>

                <button class="btn-send-link" type="submit">
                    {{ "Cambiar contraseña" | uppercase }}
                </button>
            </form>
        }@else {
            <div class="auth__data-message">
                <h2>{{ "Contraseña restablecida" | uppercase }}</h2>
                <p>Tu contraseña fue restablecida, ya puedes iniciar sesión.</p>
                <i class="fa-solid fa-circle-check"></i>

                <button routerLink="/auth/login" class="btn-go-login" type="button">
                    {{ "Ir a iniciar sesión" | uppercase }}
                </button>
            </div>
        }
        

        <div class="lines">
            <div></div>
            <div></div>
        </div>
  </div>
</div>

@if (isLoading()) {
    <loader/>
}
