.auth__data-message{
    display: grid;
    grid-template-rows: repeat(4, max-content);
    gap: 1.5rem;
    max-width: 40rem;
}

.auth__data-message i{
    color: rgb(61, 126, 61);
    margin: auto;
    font-size: 6rem;
}

.btn-go-login{
    cursor: pointer;
    color: var(--background-color-main);
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    outline: 2px solid var(--background-color-main);
}

@media (max-width: 480px) {
    .auth__data-message h2{
        font-size: 2rem;
    }
}